:root {
    --primary-color: #010204;
    --secondary: red;
    --dark-color: #292929;
    --white-color: #e7e7e7;
}

body {
    color: var(--dark-color);
}

nav {
    background-color: var(--dark-color);
}

.navlogo {
    height: 25px;
    padding-right: 1rem;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.checklist > li i {
    color: var(--secondary);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
}

thead {
    background-color: var(--dark-color);
    color: white;
    text-align: center;
}
  
.allData td, th {
    border: 1px solid #dddddd;
    padding: 4px;
}

.spacer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

legend {
    font-size: medium;
    font-weight: bold;
}

.bsicon {
    color: #602C50;
}

.jsicon {
    color: #F0DB4F;
}

.htmlicon {
    color: #E34C26;
}

.cssicon {
    color: #264de4;
}

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .social>a {
    color: var(--white-color);
    opacity: 0.75;
}

footer .social > a:hover {
    opacity: 0.9;
    color: black;
}

footer {
    background-color: var(--dark-color);
}